{% extends 'layout/base.html' %}

{% block title %}
    Вход
{% endblock title %}

{% block content %}
    <p class="h2 mb-4 text-center">Login</p>
    <div class="mx-auto p-2" style="width: 500px">
        <form method="post">
            {% csrf_token %}
            <label class="form-label" for="username">Username:</label>
            <input class="form-control" type="text" id="username" name="username" required><br>
            <label class="form-label" for="password">Password:</label>
            <input class="form-control" type="password" id="password" name="password" required><br>
            <input class="mb-3 btn btn-outline-primary me-2" type="submit" value="Login">
        </form>
        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'register' %}">Register</a>
    </div>
{% endblock content %}